.message-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2000;
}

.alert {
    background-color: #85BA49;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    animation: fadeIn 0.4s ease;
    transition: opacity 0.5s ease;
}

.alert.error {
    background-color: #e74c3c;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}