/* ===== Global Page Scrollbar ===== */
html::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

html::-webkit-scrollbar-track {
    background: #f1f3f6;
    border-radius: 12px;
}

html::-webkit-scrollbar-thumb {
    background-color: #85BA49;
    border-radius: 12px;
    border: 3px solid #f1f3f6;
    transition: background 0.3s ease;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #6fa33f;
}

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #85BA49 #f1f3f6;
}